azure_files/
azure_files/*
settings/
*.pyc
nes_randomizer/mysite/urls.pyc
nes_randomizer/mysite/views.pyc
nes_randomizer/profiles/views.pyc
nes_randomizer/mysite/urls.pyc
nes_randomizer/mysite/views.pyc
nes_randomizer/profiles/views.pyc
nes_randomizer/db.sqlite3
nes_randomizer/mysite/static/*
nes_randomizer/nes/templatetags/nes_extras.pyc
*.sqlite3
nes_randomizer/db.sqlite3
jQuery-TE_v.1.4.0.zip
ckeditor_4.4.6_80899141a213.zip
nes_randomizer/static/mysite/ckeditor/samples/*
scripts/
