{% extends "mysite/base.html" %}
{% block content %}
<h1>{{ game.title }}</h1>
<br>
<div class = "block" id = "description">
    <p>
        {{ desc }}
    </p>
    <i>note: this text was taken from <a href="http://nesguide.com/" target="_blank">NESGuide.com</a></i>
    <div style="clear: both;"></div>
</div>



{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mysite/tabs.css' %}" />

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">

$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});

</script> 





<ul class = "tabs">
    <li class = "active" rel="tab3">Youtube</li>
    <li rel="results">eBay</li>
    <li rel="tab2">Amazon</li>
</ul>
<div id="tab3" class = "tab_content">
    {% if videos %}
        <table class="games" width="100%">
            <tbody>
                {% for video in videos %}
                    <tr><td>
                        <center>
                        <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe></center>
                    </td></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div id="results" class = "tab_content"></div>
<div id="tab2" class = "tab_content">
    {% if amazon_game %}
        <table class="games" width="100%">
            <tbody>
                <tr><td>
                    <img src="{{ amazon_game.medium_image_url }}"</td><td>
                    <a href="http://www.amazon.com/gp/offer-listing/{{ amazon_game.asin }}/?tag=8352-8128-5430" target="_blank">{{ amazon_game.title }}</a></td><td>
                    ${{ amazon_game.price_and_currency.0 }} 
                    {{ amazon_game.price_and_currency.1 }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>
            Game not found on amazon.
        </p>
    {% endif %}
</div>






<script>
function _cb_findItemsByKeywords(root)
{
  var items = root.findItemsByKeywordsResponse[0].searchResult[0].item || [];
  var html = [];
  html.push('<table class="games" width="100%" ><tbody>');

  for (var i = 0; i < items.length; ++i)  
  {
    var item     = items[i];
    var title    = item.title;
    var pic      = item.galleryURL;
    var viewitem = item.viewItemURL;
    var price    = item.sellingStatus[0].currentPrice[0].__value__;

    if (null != title && null != viewitem)
    {
      html.push('<tr><td>' + '<img src="' + pic + '" border="0">' + '</td>' + 
        '<td><a href="' + viewitem + '" target="_blank">' + title +'</a></td>'+
                '<td>' + '$'+ price +' USD</td></tr>');
    }
  }
  html.push('</tbody></table>');
  document.getElementById("results").innerHTML = html.join("");
}
</script>

<!--
Use the value of your appid for the appid parameter below.
-->
<script src=http://svcs.ebay.com/services/search/FindingService/v1?SECURITY-APPNAME=BrianMos-d8a2-4fbd-bfae-529e86cfebe1&OPERATION-NAME=findItemsByKeywords&SERVICE-VERSION=1.0.0&RESPONSE-DATA-FORMAT=JSON&callback=_cb_findItemsByKeywords&REST-PAYLOAD&keywords={{ game_search }}&paginationInput.entriesPerPage=10>
</script>

{% endblock %}
