{% extends "mysite/base.html" %}
{% block content %}


<h1>Random NES Game Selector</h1>  
<div class = "block" style= 'border-radius: 25px'>
    <table>
    <tr><td>
        <form name="Random NES" action="" method="post">
            {% csrf_token %}
            <fieldset style='width:500px'>
            <legend>Selections</legend>
                <input type="radio" name="selection" value="all" checked>All
                {% if user.is_authenticated %}
                    <input type="radio" name="selection" value="owned" {% if selection == 'owned' %}checked{% endif %}>Owned
                    <!-- <input type="radio" name="selection" value="pick"{% if selection == 'pick' %}checked{% endif %}>Pick Some -->
                {% else %}
                    &emsp;&emsp;&emsp;&emsp;&emsp;(More options here for registered users)
                {% endif %}
           </fieldset>
            <br/>
            
            <fieldset style='width:500px'>
            <legend>Beaten?</legend>
                <input type="radio" name="beaten" value="both" checked>Both
                {% if user.is_authenticated %}
                    <input type="radio" name="beaten" value="yes" {% if beaten == 'yes' %}checked{% endif %}>Yes
                    <input type="radio" name="beaten" value="no"{% if beaten == 'no' %}checked{% endif %}>No
                {% else %}
                    &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;(More options here for registered users)
                {% endif %}
            </fieldset>
            <br />
            
            <fieldset style='width:500px'>
            <legend>Genres</legend>
                <table>
                    <tr>
                    {% for g in all_genres %}
                        
                        <td><input type="checkbox" name="genre" value={{ g }} {% if g in genres %}checked{% endif %}>{{ g }}</td>
                        {% cycle '' '' '' '</tr><tr>' %}
                    {% endfor %}
                    </tr>

                </table>
            <!-- <input type="checkbox" name="genre" value=""> -->
            </fieldset>
            <br />

            <input type="submit" value ="Choose a Game">
        </form>
        <a href="{% url 'nes:random' %}" style='diplay:inline'><button>Reset</button></a>
        
    </td><td bgcolor='black'>
        {% if game %}    
            <a href = '{% url 'nes:details' game.id %}' target = '_blank'>
            {{ game.title }}</a><br /><br />
            <!-- <a href='{{ game_url }}' target='_blank'>Google Search</a><br /> -->
            {% if debug %}
                <h3>Game Info:</h3>
                    game id: {{ game.id }}<br/>
                    game title: {{ game.title }}<br/>
                    game genre: {{ game.genre }}
                    
                
                <h3>options:</h3>
                    Selection: {{ selection }}<br/>
                    Beaten: {{ beaten }}<br/>
                    {% if genres %}
                        <h3>Selected Genre{{genres|pluralize}}:</h3>
                        {% for genre in genres %}
                            {{ genre }}<br />
                        {% endfor %}
                    {% endif %}    
            {% endif %}    
        {% endif %}
        
        {% if errors %}
            <font color = 'red'>
            {%  for error in errors %}
                {{ error }}<br />
            {% endfor %}
            </font>
        {% endif %}
        <br/><br/>
    </td></tr>
    </table>
</div>
{% endblock %}