{% extends "mysite/base.html" %}
{% block content %}

<!-- loading stuff up here -->
{% load nes_extras %}

<h1>Random NES Game Selector</h1>
<table>
<tr><td>
    <form name="Random NES" action="" method="post">
        {% csrf_token %}
        <fieldset style='width:500px'>
        <legend>Selections</legend>
            <input type="radio" name="selection" value="all" checked>All
            {% if user.is_authenticated %}
                <input type="radio" name="selection" value="owned" {% if selection == 'owned' %}checked{% endif %}>Owned
                <input type="radio" name="selection" value="pick"{% if selection == 'pick' %}checked{% endif %}>Pick Some
            {% else %}
                &emsp;&emsp;&emsp;&emsp;&emsp;(More options here for registered users)
            {% endif %}
       </fieldset>
        <br/>
        
        <fieldset style='width:500px'>
        <legend>Beaten?</legend>
            <input type="radio" name="beaten" value="both" checked>Both
            {% if user.is_authenticated %}
                <input type="radio" name="beaten" value="yes" {% if beaten == 'yes' %}checked{% endif %}>Yes
                <input type="radio" name="beaten" value="no"{% if beaten == 'no' %}checked{% endif %}>No
            {% else %}
                &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;(More options here for registered users)
            {% endif %}
        </fieldset>
        <br />
        
        <fieldset style='width:500px'>
        <legend>Genres</legend>
            <input type="checkbox" name="genre" value="shooter" {% if 'shooter' in genres %}checked{% endif %}>shooter
            <input type="checkbox" name="genre" value="platformer" {% if 'platformer' in genres %}checked{% endif %}>platformer
            <input type="checkbox" name="genre" value="adventure" {% if 'adventure' in genres %}checked{% endif %}>adventure
            <input type="checkbox" name="genre" value="rpg" {% if 'rpg' in genres %}checked{% endif %}>rpg
            <input type="checkbox" name="genre" value="action_rpg" {% if 'action_rpg' in genres %}checked{% endif %}>action/rpg
            <input type="checkbox" name="genre" value="puzzle" {% if 'puzzle' in genres %}checked{% endif %}>puzzle
        <!-- <input type="checkbox" name="genre" value=""> -->
        </fieldset>
        <br />

        <input type="submit" value ="Choose a Game">
    </form>
    <a href="{% url 'nes:random' %}" style='diplay:inline'><button>Reset</button></a>
    
</td><td>
    {% if game %}            
        <a href='https://www.google.com/#q=nes+{{ game_url }}' target='_blank'>{{ game.title }}</a><br />
        {% if debug %}
            <h3>Game Info:</h3>
                game id: {{ game.id }}<br/>
                game title: {{ game.title }}<br/>
                game genre: {{ game.genre }}
                
            
            <h3>options:</h3>
                Selection: {{ selection }}<br/>
                Beaten: {{ beaten }}<br/>
                {% if genres %}
                    <h3>Selected Genre{{genres|pluralize}}:</h3>
                    {% for genre in genres %}
                        {{ genre }}<br />
                    {% endfor %}
                {% endif %}    
        {% endif %}    
    {% endif %}
    
    {% if errors %}
        <font color = 'red'>
        {%  for error in errors %}
            {{ error }}<br />
        {% endfor %}
        </font>
    {% endif %}
    <br/><br/>
    
</td></tr>
</table>

{% endblock %}