{% extends "mysite/base.html" %}
{% block content %}
<h1>Delete Users</h1>
{% if users %}
    <div class="users">
        <table>
            <tr><td>ID</td><td>username</td><td>delete</td></tr>
            {% for  user in users %}
                <tr><td><center>{{ user.id }}<center></td>
                <td>{{ user.username }}</td>
                <td><center>
                <a href="{%url 'tools:delete' user.id %}">X</center></td></tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}
