{% extends "mysite/base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mysite/jquery-te-1.4.0.css' %}" />

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'mysite/jquery-te-1.4.0.min.js' %}"></script>


<h1>New Post</h1>


<div class=block style='border-radius:25px; padding: 25px;'>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in news_form %}

            {{ field.label }}:
            <br>{{ field }}<br><br>

        {% endfor %}
        
        <input id="save_post" type="submit" value="Post!">
    <script>
        $('.jqte-test').jqte();
        
        // settings of status
        var jqteStatus = true;
        $(".status").click(function()
        {
            jqteStatus = jqteStatus ? false : true;
            $('.jqte-test').jqte({"status" : jqteStatus})
        });
    </script>
</div>

{% endblock %}
