{% extends "mysite/base.html" %}
{% block content %}
{% load staticfiles %}


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'mysite/ckeditor/ckeditor.js' %}"></script>
<style>

    /* Style the CKEditor element to look like a textfield */
    .cke_textarea_inline
    {
        padding: 10px;
        height: 200px;
        overflow: auto;

        border: 1px solid white;
        -webkit-appearance: textfield;
    }

</style>

<h1>New Post</h1>

<div class=block style='border-radius:25px; padding: 25px;'>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in news_form %}

            {{ field.label }}:
            <br>{{ field }}<br><br>

        {% endfor %}
        <input id="save_post" type="submit" value="Post!">

        <script>
		CKEDITOR.inline( 'body' );
        </script>
</div>

{% endblock %}
