{% extends "mysite/base.html" %}
{% block content %}

<h1>{{ title.0 }}</h1>
<a href='{% url 'prof:view_profile' %}'> < Back to Profile</a> <!-- ' -->

<form name="game update" action="" method="post">
<!-- <form name="game update"> -->
{% csrf_token%}
<table>
<tr><td>
<fieldset>
<legend>{{ title.1 }}</legend>
    <select name="{{ title.1 }}" size=10 multiple style="width:250px">
        {% for game in games %}
           <option value='{{ game.id }}'>{{ game.title }}</option>
        {% endfor %}
    </select>
</fieldset>
</td><td>
<input type='submit' value='<<-->>'><br>
</td><td>
<fieldset>
<legend>{{ title.2 }}</legend>
    <select name="{{ title.2 }}" size=10 multiple style="width:250px">
        {% for mode in mode_games %}
            <option value='{{ mode.id }}'>{{ mode.title }}</option>
        {% endfor %}
    </select>
</td></tr>
</fieldset>
</table>
</form>

<i>Adding multiple titles could take a while. Please be patient.</i>

{% endblock %}