<style type="text/css">

	ul.tabs {
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		height: 32px;
		border-bottom: 1px solid #999999;
		border-left: 1px solid #999999;
		width: 100%;
	}
	ul.tabs li {
		float: left;
		margin: 0px;
		cursor: pointer;
		padding: 0px 21px ;
		height: 31px;
		line-height: 31px;
		border: 1px solid #999999;
		border-left: none;
		font-weight: bold;
		overflow: hidden;
		position: relative;
		background: white;
        color: red;
        border: solid red;
	}
	ul.tabs li:hover {
		background: black;
        color: red;
	}	
	ul.tabs li.active{
		background: black;
        color: white;
        border: solid red;
		/* border-bottom: 1px solid #FFFFFF; */
	}
	.tab_container {
		border: 1px solid #999999;
		border-top: none;
		clear: both;
		float: left; 
		width: 100%;
		/* background: #FFFFFF; */
		background: pink;
	}
	.tab_content {
		padding: 20px;
		font-size: 1.2em;
		display: none;
	}
 
</style>