{% block blog %}
{% if posts %}
   <script>
        function confirmDelete(title) {
            if(confirm('Do you really want to delete post: ' + title + '?')) {
                return true;
            }
            else {
                return false;
            }
                
        }
    </script>
    {% for post in posts %}

        
        <div class="block" id="news">
            {{ post.pub_date }} <i>posted by {{ post.user }}</i>
            <h3>{{ post.title }}</h3>
            {{ post.body | safe}}<br>
            
            {% if user.is_authenticated %}     
                <i><a id="delete" title="Delete this post" href="{% url 'news:delete' post.id %}"  onclick="return confirmDelete('{{post.title}}');">DELETE</a></i><br>
            {% endif %}
            
        </div>
        <br />
    {% endfor %}
{% elif post %}
    <div class="block" id="news">
        {{ post.pub_date }} <i>posted by {{ post.user }}</i>
        <h3>{{ post.title }}</h3>
        {{ post.body | safe}}
    
    </div>
{% endif %}
{% endblock blog %}