<h1>Hey, {{ user.username }} this is the menu:</h1>
{% if error_message %}<p><strong>{{ error_message }} </strong</p>{% endif %}

{% if not user.is_authenticated %}
    <a href="{% url 'login' %}">Login</a> or <a href="{% url 'reg:register' %}">Register</a><br />
{% else %}
    <a href="{% url 'prof:edit_profile' %}"> Edit Profile</a> | 
    <a href="{% url 'logout' %}">Log Out</a><br />
    {{user.username}}: {{user.id}}
    {{user.first_name}}
    {{user.last_name}}
{% endif %}

<ul>
    {% if user.is_staff %}
    <li><a href="/admin/" target = "_blank">admin</a></li>
    {% endif %}
    <li><a href="{% url 'nes:index' %}">NES</a></li>
    <li><a href="{% url 'polls:index' %}">POLLS</a></li>
</ul>