<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="icon" type = "image/x-icon" href="{% static 'mysite/images/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/styles.css' %}" />
    <title>{% block title %}NES RANDOMIZER{% endblock %}</title>
</head>

<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48336975-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- end google analytics -->

{% load staticfiles %}

<body>
    <div class = "wrapper">
        <div class = "inner_wrapper">
            <div class = "menu" id="sidebar">
                {% block sidebar %}
                    <font class="left">
                        <a href="{% url 'index' %}">HOME</a> | 
                        <a href="{% url 'nes:games' %}">NES</a> | 
                        <a href="{% url 'nes:random' %}">RANDOM</a> | 
                        <a href="{% url 'news:index' %}">NEWS</a> | 
                        {% if user.is_staff %}
                            <a href="{% url 'tools:index' %}">TOOLS</a> |
                            <a href="/admin/" target = '_blank'>ADMIN</a> |
                        {% endif %}
                    </font>
                    
                    <font class="right">
                        {% if user.is_authenticated %}
                            <font color = 'red'>{{ user.username }} : </font>
                            <a href="{% url 'prof:view_profile' %}">Profile</a> | 
                            <a href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                            <a href="{% url 'reg:register' %}">Register</a> | 
                            <a href="{% url 'login' %}">Log In</a> 
                        {% endif %}
                    </font>

                {% endblock %}
            </div>

        
            <div class = "content" id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
