{% extends "mysite/base.html" %}
{% block content %}


<form name="login" action="" method="post">
    {% csrf_token %}
    <fieldset style='width:300px'>
    <legend>Login</legend>
        <table>
        <tr><td>Username:</td><td><input type="text" name="username" value ="{{username}}" required></td></tr>
        <tr><td>Password:</td><td><input type="password" name="password" value ="{{password}}" required></td></tr>
        <tr><td></td><td><input type="submit" value="Login"><input type="reset" value="Reset"</td></tr>
        </table>
    </fieldset>
</form>
{% if error %}
<font color='red'>{{ error }}</font>
{% endif %}
<br/>

{% endblock %}