{% extends "mysite/base.html" %}
<!-- {% block title %}My amazing blog{% endblock %} -->
{% block content %}

<h1>{{ user.username }}'s profile information!</h1>
Username: {{ user.username }}<br />
Email: {{ user.email }} (update)<br />
(Change Password) <br /><br />

<table>
<tr><td style="padding-right:100px"><strong>Games Owned</strong> (<a href='{% url 'prof:owned' %}'>update</a>): <!-- ' -->
</td><td><strong>Games Beaten</strong> (<a href='{% url 'prof:beaten' %}'>update</a>):</td></tr> <!-- ' -->

<tr><td>
{% if owned %}
    {% for own in owned %}
        {% for game in games %}
            {% if game.id == own.game_id %}
                {{ game.title }}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

</td><td>
{% if beaten %}
    {% for beat in beaten %}
        {% for game in games %}
            {% if game.id == beat.game_id %}
                {{ game.title }}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
</td></tr>
</table>

{% endblock %}
