<h1>NES STUFF!</h1>


<form name="Random NES" action="" method="get">
<input type="radio" name="selection" value="all">All
<input type="radio" name="selection" value="genre">Genre
<input type="radio" name="selection" value="pick">Pick Some
<br/><br/>
<input type="submit" value ="Choose a Game">
</form>



<!-- <form action="" method="get">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> -->